<ng-container *ngIf="monthView">
    <clr-monthpicker></clr-monthpicker>
</ng-container>
<ng-container *ngIf="!monthView && !yearView">
    <div class="datepicker-month-year-container">
        <button class="datepicker-btn datepicker-month" (click)="monthView = true">
            {{month}}
        </button>
        <button class="datepicker-btn datepicker-year" (click)="yearView = true">
            {{year}}
        </button>
    </div>
    <table class="datepicker-table">
        <tr class="datepicker-row">
            <td *ngFor="let day of daysShort" class="datepicker-cell days">
                {{day}}
            </td>
        </tr>
    </table>
    <table class="datepicker-table" (keydown)="onDatepickerTableKeyDown($event)">
        <tr *ngFor="let row of calendarDates" class="datepicker-row">
            <td *ngFor="let date of row" class="datepicker-cell">
                <!--button *ngIf="isPreviousMonth(date)"
                        class="date is-not-current"
                        [attr.tabindex]="!date.isTodaysDate ? -1 : null"
                        [class.is-today]="date.isTodaysDate"
                        (click)="setDate(date.date)">
                    {{date.date}}
                </button-->

                <button *ngIf="isCalendarViewMonth(date)"
                        class="date"
                        [attr.tabindex]="!date.isTodaysDate ? -1 : null"
                        [class.is-today]="date.isTodaysDate"
                        [class.active]="(date.date === selectedDateValue) && isCalendarViewMonth(date)"
                        (click)="setDate(date.date)">
                    {{date.date.date}}
                </button>

                <button *ngIf="!isCalendarViewMonth(date)"
                        class="date is-not-current"
                        [attr.tabindex]="!date.isTodaysDate ? -1 : null"
                        [class.is-today]="date.isTodaysDate"
                        (click)="setDate(date.date)">
                    {{date.date.date}}
                </button>

                <!--button *ngIf="isNextMonth(date)"
                        class="date is-not-current"
                        [attr.tabindex]="!date.isTodaysDate ? -1 : null"
                        [class.is-today]="date.isTodaysDate"
                        (click)="setDate(date.date)">
                    {{date.date}}
                </button-->
            </td>
        </tr>
    </table>
</ng-container>
<ng-container *ngIf="yearView">
    <clr-yearpicker></clr-yearpicker>
</ng-container>
