<ng-container *ngIf="monthView">
    <clr-monthpicker></clr-monthpicker>
</ng-container>
<ng-container *ngIf="!monthView && !yearView">
    <div class="datepicker-month-year-container">
        <button class="datepicker-btn datepicker-month" (click)="monthView = true">
            {{month}}
        </button>
        <button class="datepicker-btn datepicker-year" (click)="yearView = true">
            {{year}}
        </button>
    </div>
    <table class="datepicker-table datepicker-days-header">
        <tr class="datepicker-row">
            <td *ngFor="let day of daysShort" class="datepicker-cell days">
                {{day}}
            </td>
        </tr>
    </table>
    <div
        class="datepicker-date-view"
        (scroll)="onCalendarScroll($event)"
        #dateView>
        <table *clrVirtualFor="let calendarDates of calendars"
            class="datepicker-table"
            (keydown)="onDatepickerTableKeyDown()">
            <tr *ngFor="let row of calendarDates.dateRows" class="datepicker-row">
                <td *ngFor="let dateCell of row" class="datepicker-cell">
                    <button type="button"
                            *ngIf="isCalendarViewMonth(dateCell)"
                            class="date"
                            [attr.tabindex]="getTabIndex(dateCell)"
                            [class.is-today]="dateCell.isTodaysDate"
                            [class.active]="isSelectedDate(dateCell)"
                            (click)="setDate(dateCell)"
                            (focus)="onDateCellFocus(dateCell)">
                        {{dateCell.calendarDate.date}}
                    </button>
                    <button type="button"
                            *ngIf="!isCalendarViewMonth(dateCell)"
                            tabindex="-1"
                            class="date is-not-current"
                            (click)="setDate(dateCell)">
                        {{dateCell.calendarDate.date}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="yearView">
    <clr-yearpicker clrFocusTrap></clr-yearpicker>
</ng-container>
